.Loginusername {
  background-color: #ffffff; 
  border: 1px solid #ccc;   
  border-radius: 8px;         
  padding: 15px;              
}

.Login-container {
    text-align: center;
    width: 1000px;
    margin: 2rem auto;
}