body {
  margin: 0;
  background-color: #e5e5e5;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
 background-color: red;
}

.main-layout {
  width: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid #000;
}

/* HEADER */
.header {
  background-color: #00aaff;
  color: white;
  padding: 20px;
  font-weight: bold;
}

/* NAV */
.nav {
  display: flex;
  justify-content: center;
  background-color: #00aaff;
  padding: 10px;
  gap: 10px;
  margin-top: 20px;
}

.nav button {
  background-color: #11ec3d;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.nav button:hover {
  background-color: #28a428;
}

/* OUTLET */
.outlet {
  background-color: #ffbf00;
  color: white;
  padding: 500px 0;
  font-size: 20px;
  font-weight: bold;
  
}

/* FOOTER */
.footer {
  color: white;
  padding: 150px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 25px;
  background-color:#00ff77 ;
  height: 350px;  
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  background-color: #ffbf00;
  background-size: cover;
  text-align: center;
  color: rgb(0, 0, 0);
  gap: 20px;
  padding-top: 1px; 
}

.profile-pic {
  width: 350px;
  height: 450px;
  background-image: url('/images/หน้าข้อยเอง.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.home-text {
  color: rgb(0, 0, 0);
  font-size: 15px;
  height: 175px;
  width: 450px;
  background-color: #00ff77;
  border-radius: 25px;

}

.appapp {
  border-radius: 25px;
}

.cartsbackgroug {
  background-color: #ffffff; 
  border: 1px solid #ccc;   
  border-radius: 8px;         
  padding: 15px;              
}



